.DS_Store
*.*~
*.csproj
*.meta
*.pidb
*.sln
*.suo
*.unityproj
*.user
*.userprefs
StealthGame/StealthGame.app
StealthGame/Temp
StealthGame/obj
StealthGame/Library/cache
StealthGame/Library/previews
StealthGame/Library/assetDatabase3
StealthGame/Library/AssetImportState
StealthGame/Library/AssetServerCacheV3
StealthGame/Library/AssetVersioning.db
StealthGame/Library/AudioManager.asset
StealthGame/Library/BuildPlayer.prefs
StealthGame/Library/BuildSettings.asset
StealthGame/Library/DynamicsManager.asset
StealthGame/Library/EditorUserSettings.asset
StealthGame/Library/EditorUserBuildSettings.asset
StealthGame/Library/expandedItems
StealthGame/Library/FailedAssetImports.txt
StealthGame/Library/guidmapper
StealthGame/Library/InspectorExpandedItems.asset
StealthGame/Library/MonoManger.asset
StealthGame/Library/NetworkManager.asset
StealthGame/Library/ScriptMapper
StealthGame/Library/metadata/
StealthGame/Library/ScriptAssemblies/
